
@model  SE_WEbClientBookMarkAsyncSample.Models.Entities.Dashboard

@{
    ViewBag.Title = "Index";
}

<h2>TimeTaken : @Model.TimeTaken</h2>

<div>
    <h4>Bookmarks </h4>
    <p>Book Mark Count : &nbsp;  @Model.Bookmarks.Count()</p>
    <p>Emails Count : &nbsp;  @Model.Emails.Count()</p>
    <p>Notes Count : &nbsp;  @Model.Notes.Count()</p>
    <p>TasksCount : &nbsp;  @Model.Tasks.Count()</p>

    <table class="table table-striped" >
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>           
            </tr>
        </thead>

        @foreach(var item in Model.Bookmarks)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
            </tr>
        }
    </table>

</div>